.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-item a {
  color: black ;
}

.navbar {
  background-color: #A1A4A380;
}

.navbar-collapse {
  justify-content:flex-start;
}

.navbar-brand {
  display: flex;
  align-items: center;
  background: #152d7d;
  width:fit-content;
  padding-right: 5px;
}

.navbarBrandDiv {
  width: 100%;
  background: #152d7d;
}

.navbarBrandText {
  color: rgb(251, 253, 252);
}

.nav li a {
  transition: 500ms;
}

.nav li a:hover {
  transform: scale(1.1);
  color: green;
  cursor: pointer;
  background: #152d7d;
}

.homeCardImgOverlayDiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeOverlayText {
  color: white;
  font-size: 7rem;
  margin-left: 2rem;
}

.mainImg {
  width: 100%;
}

.card {
  border: 0;
}

.card-img{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.site-footer {
  width: 100%;
  margin-top: auto;
}

.nav {
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .nav {
    flex-direction: column !important;
  }

}

@media only screen and (max-width: 1200px) {
  .homeOverlayText {
    font-size: 8vw;
  }
}
