.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-item a {
  color: black ;
}

.navbar {
  background: rgba(210,	228,	233, .8);
}

.navbar-collapse {
  justify-content:flex-start;
}

.navbar-brand {
  display: flex;
  align-items: center;
  background: #152d7d;
  width:fit-content;
  padding-right: 5px;
}

.navbarBrandDiv {
  width: 100%;
  background: #152d7d;
}

.navbarBrandText {
  color: rgb(251, 253, 252);
}

.nav li a {
  transition: 500ms;
}

.nav li a:hover {
  transform: scale(1.1);
  color: green;
  cursor: pointer;
  background: #152d7d;
}

.homeMainImg {
  max-width: 700px;
}

.site-footer {
  width: 100%;
  margin-top: auto;
}

.nav {
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .nav {
    flex-direction: column !important;
  }
}