.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-item a {
  color: black ;
}

.navbar {
  background: rgb(210	228	233);
}

.navbar-collapse {
  justify-content:flex-start;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbarBrandText {
  color: black;
}

.homeMainImg {
  max-width: 700px;
}

.site-footer {
  width: 100%;
  margin-top: auto;
}